.curriculum-container {
    padding: 20px;
    background-color: #1f0035;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  
  .holiday-list {
    margin: 20px 0;
  }
  
  .holiday-list ul {
    list-style: none;
    padding: 0;
  }
  
  .holiday-list li {
    padding: 5px 0;
  }
  
  .curriculum-weeks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

  }
  
  .curriculum-week {
    background-color: #252323;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .curriculum-week h3 {
    color: #FFD700;
  }
  
 
  
  