/* src/components/CoverPage.css */
.cover-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #490871, #8b01ed);
    color: white;
  }
  
  .cover-content {
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .learn-more {
    padding: 0.75rem 1.5rem;
    background-color: #f6f34d;
    border: none;
    color: #084571;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  